{% include head.html %}

<section class="article">

  {% if page.image.feature %}
  <div class="overlay"></div>
  <div class="featured-image" style="background-image: url({{ site.url }}/images/{{ page.image.feature }})"></div>
  {% else %}
  <div class="overlay"></div>
  <div class="featured-image" style="background-image: url({{ site.url }}/images/typewriter.jpg)"></div>
  {% endif %}


  <article class="wrap post">
    <header class="post-header">
      <hgroup>
        <h2>{{page.title}}</h2>
        <div class="date">{{page.date | date: "%b %d, %Y" }}</div>
        <p class="intro">{% if page.description %}{{ page.description }}{% else %}{{ page.tagline }}{% endif %}</p>
      </hgroup>
    </header>
    
    {{ content }}

    <aside class="disqus">
    <div id="disqus_thread"></div>
<script>
    /**
     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
     *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
     */
    var disqus_config = function () {
        this.page.url = location.protocol+'//'+location.host+"{{page.url}}";  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = "{{page.url}}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    (function() {  // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        
        s.src = '//pwang2-debug.disqus.com/embed.js';
        
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
  
    </aside>

  </article>
</section>
{% include footer.html %}
